.maj{
	color: red;
}
.min{
	color: :green;
}

.menu{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
width: 100%;
background: red;

}
.menu  a{
border:1px solid black;
padding: 10px;
text-decoration: none;
color: white;
background: black;
}
.menu a:hover{
	background: #CCC;
	color: black;
}
.long{
	width: 200px;
}
input[type="hidden"]{
	display: none;
}